<mat-toolbar>
  <mat-toolbar-row>
    <span>Add new student!!</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id">
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname">
        </mat-form-field>
      </td>
    </tr>
    <div>
      <button mat-raised-button class="center-button" (click)="downQuantity(student)">-</button>
      <mat-form-field class="penInput">
        <input matInput placeholder="pen Amount" class="center-text" value="0">
      </mat-form-field>
      <button mat-raised-button layout="row" class="center-button" (click)="upQuantity(student)">+</button>
    </div>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="file name">
  </mat-form-field>
  <mat-form-field class="full-width">
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
  <div class="center">
      <button mat-raised-button color="primary" type="submit" >Add</button>
  </div>
</form>